<p>Olá <%= @name %>!</p>

<p>Obrigado por ter se cadastrado no IFreelas! Você precisa confirmar o seu e-mail para prosseguir em nosso site:</p>

<p><%= link_to 'Confirme sua conta', confirmation_url(@resource, confirmation_token: @token) %></p>
