<p>Olá <%= @name %>!</p>

<p>O IFreelas recebeu uma solicitação para a troca de senha na sua conta. Você pode fazer a mudança de senha através do link abaixo.</p>

<p><%= link_to 'Trocar de senha', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>Se você não fez esta solicitação, por favor ignore este e-mail. Sua senha não será alterada até que você acesse o link acima e criar uma nova senha.</p>
