
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h2 class="text-white" data-aos="fade-up">Temos o freelancer certo para suas necessidades em tecnologia</h2>

                                   <a href="#search" class="custom-btn btn-bg btn mt-3 smoothScroll" data-aos="fade-up" data-aos-delay="100">Faça uma busca</a>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <%= image_tag("working-girl.png", class: "img-fluid", alt: "working girl") %>
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">Serviço desenvolvido por estudantes para estudantes</h2>

                              <p class="mb-0" data-aos="fade-up">O IFreelas busca facilitar a inserção dos estudantes dos cursos de TI no mercado, permitindo 
                              que eles ofereçam seu serviços em um ambiente seguro. 
                              <br><br>Se você é estudante do cursos de Tecnologia em Sistemas para
                              Internet e Técnico em Redes de Computador, <strong>cadastre o seu currículo</strong>.  
                              <br><br>Para contatar os profissionais, por whatsapp, e-mail ou linkedin, representantes de empresas também devem preencher um <strong>rápido cadastro</strong>.</p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                            <%= image_tag("office.png", class: "img-fluid", alt: "office") %>
                        </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="search">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-md-8 offset-md-2 col-12">

                        <h2 class="p-0 mb-5 text-center" data-aos="fade-up">
                            Digite uma habilidade e<br>
                            encontre o seu profissional
                        </h2>

                         <form>
                         <div class="form-group row">
                              <div class="input-group m-5">
                                   <input class="form-control form-control-lg" type="text" placeholder="Exemplos: React, NodeJS, Java.">
                              <div class="input-group-append">
                              <button class="btn my-btn px-md-5" type="button">Busca</button>
                              </div>
                              </div>

                         </div>

                         </form>

                         
                    </div>

               </div>
          </div>
     </section>
